<section class="seccion">
  <fieldset class="content-form">

    <legend class="content-form__title">Editar Categoria</legend>
    <form action="" id="form" novalidate>

      <label for="nombre" class="content-form__control"> Nombre
        <input type="text" placeholder="Nombre" class="input" name="nombre" id="nombre" required>
      </label>

      <label for="descripcion" class="content-form__control"> Descripcion
        <textarea name="descripcion" id="descripcion" class="textarea" placeholder="Bla bla bla" required></textarea>
      </label>

      <button class="boton enlace">Actualizar</button>
    </form>
  </fieldset>
</section>
