<section class="seccion">
  <fieldset class="content-form">

    <legend class="content-form__title">Log in</legend>
    <form action="" id="form" novalidate>

      <label for="correo" class="content-form__control"> Correo:
        <input type="text" placeholder="Correo" class="input" name="correo" id="correo" required>
      </label>

      <label for="contrasena" class="content-form__control"> Contraseña:
        <input type="text" placeholder="Contraseña" class="input" name="contrasena" id="contrasena" required>
      </label>

      <button class="boton enlace">Iniciar Sesión</button>
    </form>
  </fieldset>
</section>